*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Roboto, 'Segoe UI', Tahoma, sans-serif;
    font-size: 16px;
    font-weight: 200;
    line-height: 2;
    color: #111;
    background-color:#fff;
    padding-bottom: 40px;
    position: relative;
    height: 100vh;
}

.left_menu_box{
    padding-top: 1rem;
}

.left_menu-list{
    float: right;
}

.left_menu-list_icon{
    float: left;
    list-style: none;
    padding: 0 .7rem;
}

.menu{
    width: 1.5rem;
    padding-top: .3rem;
}

.my-img{
    width: 2rem;
    border-radius: 2rem;
}

.google-img_box{
    text-align: center;
    margin-top: 4rem;
    width: 60%;
    margin: 4rem auto 0rem;
}

.google-img{
    max-width: 40%;
}

.box{
    margin: 0 auto;
    width: 40%;
    height: 50px;
    background-color:white;
    border-radius: 2rem;
    display: flex;
    align-items: center;
    padding: 20px;
    border: 1px solid rgb(170, 168, 168);
}

.box:hover{
    border-color: rgba(199, 199, 199, .9);
}

.box > i{
    font-size: 20px;
    color: #777;
    margin-right: .5rem;
}

.box > input{
    flex:1;
    height: 40px;
    border: none;
    outline: none;
    font-size: 18px;
}

input::placeholder{
    font-size: 1rem;
}

.btn{
    background-color:rgb(131, 131, 133, .1);
    padding: .8rem;
    text-decoration: none;
    color: #111;
}

.btn-box{
    text-align: center;
    margin-top: 2rem;
}

.btn:hover{
    background-color:rgb(131, 131, 133, .2);
}

.btn-left{
    margin-right: 1rem;
}

.paragraph_links{
    text-decoration: none;
}

.paragraph-box{
    text-align: center;
    margin-top: 1rem;
}

footer{
    background-color: rgb(131, 131, 133, .2);
    position: absolute;
    bottom: 0;
    padding: 2px;
    width: 100%;
}

.naija{
    padding: .7rem;
    padding-left: 1rem;
}

.horizontal{
    border: 1px solid  rgb(131, 131, 133, .2);
}

table{
    width: 100%;
}

tr{
    display: flex;
    justify-content: space-between;
}

.footer-li{
    float: left;
    list-style: none;
    margin-left: 1rem;
}

.footer-li > ul{
    display: flex;
}

@media(max-width:759px){
    .box{
        width: 80%;
    }
    .box > input{
        font-size: 5px;
    }
    .google-img{
        max-width: 65%;
    }
    .footer_ul-left{
        float: none;
    }
}

@media(max-width:280px){
    .btn{
        padding: .3rem;
    }
    .btn-left{
        margin-right: .5rem;
    }
}



